.car{
    text-align: center;
}
ul>li{
 list-style: none;
 color: var(--gray);
}
.car>span{
    color: var(--orange);
    font-size: 1.5rem;
}
.div>:nth-child(1)
{
    color: var(--orange);
    font-size: 1.5rem;
}
.div>:nth-child(2)
{
    color: var(--gray);
    font-size: 1.5rem;
}